html {
    scroll-behavior: smooth;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* fade in */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;

    pointer-events: none;
    background: white;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}
@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


h1{
    font-size: 36px;
    line-height: 1;
    letter-spacing: -2px;
}
.selected-works{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

p{
    font-weight: 300;
    line-height: 1.5;
}
img{
    width: 100%;
}

video{
    object-fit: cover;
}

/* grid */
.link{
    display: block;
    width:100%;
    height:100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.zero{
    grid-column: 1/2;
    grid-row:1;
}
.one{
    grid-column: 2/5;
    grid-row:1;
    display: flex;
    align-items: flex-end;
    padding:1rem;
}
.two{
    grid-column: 1/4;
    grid-row:2;
    background-color: #4CF5B4;
    position: relative;
}
.three{
    grid-column: 4/5;
    grid-row:2;
}
.four{
    grid-column: 1/5;
    grid-row:6;
    background-image: url('images/tort.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.five{
    grid-column: 1/2;
    grid-row:3;
    background-color: yellow;
}
.six{
    grid-column: 2/5;
    grid-row:3;
}
.seven{
    grid-column: 1/5;
    grid-row:4;
}
.eight{
    grid-column: 1/5;
    grid-row:5; 
    min-height: 300px;
    background-color: black;
}
.nine{
    grid-column: 1/5;
    grid-row:10;
}
.ten{
    grid-column: 1/5;
    grid-row:15;
}
.eleven{
    grid-column: 1/5;
    grid-row:7;
    background-image: url('images/canvas.svg');
    background-color: #73C4D8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.twelve{
    grid-column: 1/5;
    grid-row:13;
    background-color: #A388E7;
    min-height:200px;
}
.thirteen{
    grid-column: 1/5;
    grid-row:8;
    background-color: black;
    background-image: url('images/wanderers.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
}
.fourteen{
    grid-column: 1/5;
    grid-row:11;
    background-image: url('images/asiansquat.png');
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
}
.fifthteen{
    grid-column: 1/5;
    grid-row:17;
}
.sixteen{
    grid-column: 1/5;
    grid-row:9;
    background-image: url('images/VimmerbyStugby.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.seventeen{
    grid-column: 1/5;
    grid-row:12;
    background-image: url('images/tort-v1.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.eighteen{
    grid-column: 1/5;
    grid-row:14;
    background-image: url('images/southside.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

/* book */
.five{
    perspective: 1500px;
    /* min-height:300px; */
}
.book {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    top:50%;
    left:50%;
    transform:rotateX(180deg)rotateY(300deg); 
}
div.face {
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
}
div.face-cover{
    width:65px;
    height:100px;
    background-image: url(images/front.svg);
    transform: translateX(-50%) translateY(-50%)rotateX(180deg)rotateY(270deg)translateZ(5px);
}
div.face-back{
    width:65px;
    height:100px;
    
    background-image: url(images/back.svg);
    transform: translateX(-50%) translateY(-50%)rotateY(90deg)translateZ(5px);
}
div.face-side{
    width:10px;
    height:100px;
    
    background-image: url(images/side.svg);
    transform: translateX(-50%) translateY(-50%)rotateY(180deg)translateZ(32.5px);
}
div.face-spine{
    width:10px;
    height:100px;
    
    background-image: url(images/spine.svg);
    transform: translateX(-50%) translateY(-50%)rotateY(0deg)translateZ(32.5px);
}
div.face-top{
    width:10px;
    height:65px;
    
    background-image: url(images/top.svg);
    transform: translateX(-50%) translateY(-50%)rotateX(90deg)rotateY(180deg)translateZ(50px);
}
div.face-bottom{
    width:10px;
    height:65px;
    
    background-image: url(images/bottom.svg);
    transform: translateX(-50%) translateY(-50%)rotateX(-90deg)rotateY(180deg)translateZ(50px);
}

.six img{
    padding:0.5rem;
}

/* playground */
@font-face {
    font-family: Inter var;
    src: url(fonts/inter-var.woff2);
}
@keyframes animate-type{
    0% {
        font-variation-settings: "wght" 400, "slnt" 0;
        letter-spacing: 0;
    }
    100% {
        font-variation-settings: "wght" 900, "slnt" -8;
        letter-spacing: 5px;
    }
}
.inner-.two{
    position: relative;
}

.playground{
    font-size: 1rem;
    font-family: Inter var, sans-serif;
    transition: transform 2s;
    animation: animate-type 3s infinite alternate;
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

/* connect */
.ten {
    background-color: #73C4D8;
    min-height: 200px;
}


/* typing */
@font-face {
    font-family: LexendGiga-Regular;
    src: url(fonts/LexendGiga-Regular.ttf);
}

.twelve{
    word-break: break-word;
    padding: 1rem;
    position: relative;
}
textarea{
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* letters */
@font-face {
    font-family: NeueMachina-ultrabold, sans-serif;
    src: url(fonts/NeueMachina-ultrabold.otf);
}
.letter{
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem;
}
.nine {
    padding:0.3rem;
    background-color: #A388E7;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* clock */
.three {
    background-color: #73C4D8;
    display: flex;
    justify-content: center;
    padding:1rem 0;
}
.clock{
    width: 40px;
    height:40px;
    background-color: #FFD850;
    border-radius: 50px;
    position: relative;
    margin: auto;
}
.hand{
    position: absolute;
    width:2px;
    height:15px;
    background-color: #ea63ff;
    
    bottom:20px;
    left:20px;
    transform: rotate(90deg);
    transform-origin: 50% 100%;
    
}
.minute {
    height: 10px;
}
.second {
    height: 18px;
    width:1px;
    background-color:#000;
}

/* who I am */
.seven{
    color: #000;
    background-color: #ea63ff;
    position: relative;
    /* height: 50vh; */
}
.seven h2{
    letter-spacing: 3px;
    font-size: 20px;
    margin: 1rem auto;
    text-align: center;
}
.phrase {
    margin:2rem auto 5rem auto;
    width: 80%;
    text-align: center;
}

input{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
}
input [type=range]{
    -webkit-appearance: none;
    background: transparent;
}

/* track */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #000000;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
    animation: 0.2s;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 2px #000000; */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
}

/* thumb */
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 2px #000000;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 2px #000000;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

/* focus */
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]:focus::-ms-fill-lower {
    background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
}


input[type=range]::-ms-fill-lower {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
}

@media screen and (min-width: 374px) and (max-width: 800px){
    .phrase {
        font-style: 16px;
    } 
}
@media screen and (min-width: 400px){
    h1{
        padding-right:2rem;
    }
    .clock{
        width: 80px;
        height:80px;
    }
    .hand{
        height:30px;
        bottom:40px;
        left:40px;
        width:3px;
    }
    .minute {
        height: 20px;
    }
    .second {
        height: 35px;
        width:1px;

    }
    .playground{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 600px){
    h1{
        font-size: 67px;
        line-height: 0.8;
        letter-spacing: -5px;
    }
}

@media screen and (min-width: 800px){
    .selected-works{
        grid-template-columns: repeat(12, 1fr);  
    }
    .zero{
        grid-column: 1/3;
        grid-row:1;
    }
    .one{
        grid-column: 3/13;
        grid-row:1;
        padding:2rem;
    }
    .two{
        grid-column: 1/5;
        grid-row:2;
    }
    .three{
        grid-column: 5/7;
        grid-row:2;
    }
    .four{
        grid-column: 7/13;
        grid-row:2/4;
    }
    .five{
        grid-column: 1/3;
        grid-row:3;
    }
    .six{
        grid-column: 3/7;
        grid-row:3;
    }
    .seven{
        grid-column: 1/6;
        grid-row:4/6;
    }
    .eight{
        grid-column: 6/10;
        grid-row:4/6;
    }
    .nine{
        grid-column: 10/13;
        grid-row:4;
    }
    .ten{
        grid-column: 10/13;
        grid-row:5;
    }
    .eleven{
        grid-column: 1/4;
        grid-row:6;
    }
    .twelve{
        grid-column: 1/4;
        grid-row:7;
    }
    .thirteen{
        grid-column: 1/4;
        grid-row:8;
    }
    .fourteen{
        grid-column: 4/12;
        grid-row:6/9;
    }
    
    .fifthteen{
        grid-column: 12/13;
        grid-row:6/8;
        
    }
    .fifthteen p, .fifthteen h2{
        text-align:left;
    }
    .sixteen{
        grid-column: 12/13;
        grid-row:8;
    }
    .seventeen{
        grid-column: 1/8;
        grid-row:9;
    }
    
    .eighteen{
        grid-column: 8/13;
        grid-row:9;
    }

    .intro{
        max-width: 24rem;
        line-height: 1.1;
    }
    .social{
        display: flex;
        text-align: left;
    }
    .seven {
        min-height: 25vh;
    }
    
}

@media screen and (min-width: 964px){
    .phrase{
        font-size: 18px;
    }
}


/* contacts */
.fifthteen{
    padding:1rem;
    font-size: 0.9rem;
    background-color: #000;
    color:#fff;
    text-align: center;
}

.fifthteen h2{
    padding-bottom: 1rem;
}
.fifthteen a, .social a{
    text-decoration: none;
    color:#fff;
}
.social a:hover, p span:hover, h2 span:hover{
    color:#ED74FA;
    transition: color 0s;
    transform: none;
    box-shadow: none;
}
.contacts a, .social a, p span, h2 span, .fifthteen a{
    transition: color 1s;
    
}

.fifthteen a:hover{
    color:#ED74FA;
    transition: color 1s;
    transform: none;
    box-shadow: none;
}
.social{
    margin-top:0.5rem;
    text-align: center;
}
.social a{
    margin-right: 1rem;
    font-size: 30px;
}
.contacts a:nth-child(1n):hover, .social a:nth-child(1n):hover, h2 span:nth-child(1n):hover{
    color:#4CF5B4;
}
.contacts a:nth-child(2n):hover, .social a:nth-child(2n):hover, p span:nth-child(2n):hover, 
h2 span:nth-child(2n):hover{
    color:#FFD850;
}
.contacts a:nth-child(3n):hover, .social a:nth-child(3n):hover, p span:nth-child(3n):hover, 
h2 span:nth-child(3n):hover{
    color:#73C4D8;
}
.contacts a:nth-child(4n):hover, .social a:nth-child(4n):hover, p span:nth-child(4n):hover, 
h2 span:nth-child(4n):hover{
    color:#ED74FA;
}
