html {
    scroll-behavior: smooth;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
}
h1{
    font-size: 67px;
    line-height: 0.8;
    letter-spacing: -5px;
    margin-bottom: 0.25rem;
    transition: 0.5s;
}
.selected-works{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

p{
    font-weight: 300;
    line-height: 1.5;
}
img{
    width: 100%;
}

/* SELECTED WORKS */
.selected-works a{
    display: block;
    width:100%;
    height:100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.selected-works a:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.zero{
    grid-column: 1/2;
    grid-row:1;
}
.one{
    grid-column: 2/5;
    grid-row:1;
    display: flex;
    align-items: flex-end;
    padding:1rem;
}
.two{
    grid-column: 1/4;
    grid-row:2;
    background-color: #4CF5B4;
    position: relative;
}
.three{
    grid-column: 4/5;
    grid-row:2;
}
.four{
    grid-column: 1/5;
    grid-row:3;
}
.five{
    grid-column: 1/2;
    grid-row:4;
    background-color: yellow;
}
.six{
    grid-column: 2/5;
    grid-row:4;
    
}
.seven{
    grid-column: 1/5;
    grid-row:5;
}
.eight{
    grid-column: 1/3;
    grid-row:6;
    background-color: #000;

}
.nine{
    grid-column: 3/5;
    grid-row:6;
}
.ten{
    grid-column: 1/3;
    grid-row:7;
    background-color:#73C4D8 ;
}
.eleven{
    grid-column: 3/5;
    grid-row:7;
}
.twelve{
    grid-column: 1/5;
    grid-row:8;
}
.thirteen{
    grid-column: 1/2;
    grid-row:9;
}
.fourteen{
    grid-column: 2/5;
    grid-row:9/10;
}
.fifthteen{
    grid-column: 1/2;
    grid-row:10;
}
.sixteen{
    grid-column: 1/5;
    grid-row:11;
    background-color: #4CF5B4;
}
.seventeen{
    grid-column: 1/5;
    grid-row:12;
}

/* book */
.five{
    perspective: 300px;
    min-height:200px;
}
.book {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform:rotateX(30deg)rotateY(300deg);
}
div.face {
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
}
div.face-cover{
    width:32.5px;
    height:50px;
    background-image: url(images/front.svg);
    transform: translateX(-50%) translateY(-50%) translateZ(2.5px);
}
div.face-side{
    width:50px;
    height:5px;
    
    background-image: url(images/side.svg);
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg)rotateY(90deg)translateZ(16.25px);
}
div.face-spine{
    width:5px;
    height:50px;
    
    background-image: url(images/spine.svg);
    transform: translateX(-50%) translateY(-50%)rotateY(-90deg)translateZ(16.25px);
}
div.face-top{
    width:32.5px;
    height:5px;
    background-image: url(images/top.svg);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg)translateZ(25px);
}
div.face-bottom{
    width:32.5px;
    height:5px;
    
    background-image: url(images/bottom.svg);
    transform: translateX(-50%) translateY(-50%)rotateX(-90deg)translateZ(25px);
}
div.face-back{
    width:32.5px;
    height:50px;
    
    background-image: url(images/back.svg);
    transform: translateX(-50%) translateY(-50%)rotateY(180deg)translateZ(2.5px);
}


/* playground */
@font-face {
    font-family: Inter var;
    src: url(fonts/inter-var.woff2);
}
@keyframes animate-type{
    0% {
        font-variation-settings: "wght" 400, "slnt" 0;
        letter-spacing: 0;
    }
    100% {
        font-variation-settings: "wght" 900, "slnt" -8;
        letter-spacing: 5px;
    }
}

.playground{
    font-size: 1.4rem;
    /* padding:1.5rem; */
    font-family: Inter var, sans-serif;
    transition: transform 2s;
    animation: animate-type 3s infinite alternate;
    color:white;
    position: absolute;
    top: 50%;
    left:40%;
    transform: translateX(-50%) translateY(-50%);
}



/* a */
.eight{
    position: relative;
}

iframe{
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


/* vimmerby */
.seven a{
    width:100%;
    height:100%;
}

/* typing */
@font-face{
    font-family: "Drake Neue";
    src: url(fonts/drake-neue.ttf);
}
.fourteen{
    font-family: Drake Neue;
    font-size: 20px;
    text-transform: lowercase;
    word-break: break-word;
    background-color: #000000;
    color: #ff0000;
    padding: 1rem;
    min-height: 25vh;
}
textarea{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* letters */
.letter{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    min-height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.1rem;
}
.nine {
    padding:0.4rem;
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


/* clock */
.three {
    background-color: #73C4D8;
    padding:1rem 0;
}
.clock{
    width: 100px;
    height:100px;
    background-color: #FFD850;
    border-radius: 50px;
    position: relative;
    margin: auto;
    
    
}
.hand{
    position: absolute;
    width:3px;
    height:20px;
    background-color: aquamarine;
    
    bottom: 49px;
    left:49px;
    transform: rotate(90deg);
    transform-origin: 50% 100%;
    
}
.minute {
    height: 37px;
}
.second {
    height: 45px;
    width:1px;
    background-color:#000;
}


/* who I am */
.seven{
    color: #ffffff;
    background-color: #ea63ff;
    position: relative;
    min-height: 50vh;
}
.seven h1{
    letter-spacing: 3px;
    font-size: 30px;
    margin: 30px auto 0 auto;
    text-align:center;
}
.phrase {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;  
}

input{
    position: absolute;
    bottom: 20%;
    left: 25%;
    width: 50%; 
}
input [type=range]{
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}



@media screen and (min-width: 800px){
    .selected-works{
        grid-template-columns: repeat(12, 1fr);
        
    }
    .zero{
        grid-column: 1/3;
        grid-row:1;
    }
    .one{
        grid-column: 3/13;
        grid-row:1;
        padding:2rem;
    }
    .two{
        grid-column: 1/5;
        grid-row:2;
    }
    .three{
        grid-column: 5/7;
        grid-row:2;
    }
    .four{
        grid-column: 7/13;
        grid-row:2/4;
    }
    .five{
        grid-column: 1/3;
        grid-row:3;
    }
    .six{
        grid-column: 3/7;
        grid-row:3;
    }
    .seven{
        grid-column: 1/5;
        grid-row:4/6;
    }
    .eight{
        grid-column: 5/9;
        grid-row:4/6;
        /* background-color: #000000; */
    }
    .nine{
        grid-column: 9/13;
        grid-row:4;
    }
    .ten{
        grid-column: 9/13;
        grid-row:5;
    }
    .eleven{
        grid-column: 1/3;
        grid-row:6;
    }
    .twelve{
        grid-column: 3/9;
        grid-row:6/8;
    }
    .thirteen{
        grid-column: 1/3;
        grid-row:7;
    }
    .fourteen{
        grid-column: 9/13;
        grid-row:6;
    }
    
    .fifthteen{
        grid-column: 1/3;
        grid-row:8;
    }
    .sixteen{
        grid-column: 9/13;
        grid-row:7;
    }
    .seventeen{
        grid-column: 9/13;
        grid-row:8;
    }
    
    
    .intro{
        max-width: 24rem;
        line-height: 1.1;
    }
    
}


/* contacts */
.seventeen{
    padding:2rem;
    font-size: 1.2rem; 
}
.seventeen a, .social a{
    text-decoration: none;
    color:black;
}
.seventeen a:hover, .social a:hover, p span:hover, h3 span:hover{
    color:#ED74FA;
    transition: color 0s;
}
.contacts a, .social a, p span, h3 span{
    transition: color 1s;
}
.social{
    margin-top:0.5rem;
}
.social a{
    margin-right: 1rem;
}
.contacts a:nth-child(1n):hover, .social a:nth-child(1n):hover, h3 span:nth-child(1n):hover{
    color:#4CF5B4;
}
.contacts a:nth-child(2n):hover, .social a:nth-child(2n):hover, p span:nth-child(2n):hover, 
h3 span:nth-child(2n):hover{
    color:#FFD850;
}
.contacts a:nth-child(3n):hover, .social a:nth-child(3n):hover, p span:nth-child(3n):hover, 
h3 span:nth-child(3n):hover{
    color:#73C4D8;
}
.contacts a:nth-child(4n):hover, .social a:nth-child(4n):hover, p span:nth-child(4n):hover, 
h3 span:nth-child(4n):hover{
    color:#ED74FA;
}


